<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial=scale=1">
        <link href="/styles.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7febf94e83.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Condensed:wght@600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.js" integrity="sha512-FSNQjUUq97PtDnAJyMlBTH8EhV4o5X5FLVbzS9ttrdEVVbmrssJBh/PgXFQbxS+6yYx5n5irOj7de6Th0TRQZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <title>Ethan | Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header>
            <div id="container" class="container">
                <div id="logo-bg" class="logo-background">
                        <a class="option1 info-hide" href="file:///C:/Users/xboxo/OneDrive/Desktop/JobApplication/Resume%20Portfolio.pdf">
                            <p>Resume</p>
                            <i class="fa-solid fa-file-arrow-down"></i>
                        </a>
                        <a class="option2 info-hide" href="#">
                            <p>813&#x2011;502&#x2011;3808</p>
                            <i class="fa-solid fa-phone"></i>
                        </a>
                        <a class="option3 info-hide" href="#">
                            <p>ethansmithson413@gmail.com</p>
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    <ul id="logo" class="logo"><li><h1 style="color: #fff; padding-right: 1vh;">ESS</h1><i class="fa-solid fa-square-arrow-up-right fa-2xl"></i></li></ul>
                </div>
                  <nav id="navBar">
                      <ul>
                        <li><a style="cursor: pointer;" onclick="viewHome()" class="hover-effect">Home</a></li>
                        <li><a style="cursor: pointer;" onclick="viewProjects()" class="hover-effect">Projects</a></li>
                        <li><a style="cursor: pointer;" onclick="viewContact()" class="hover-effect">Contact</a></li>
                      </ul>
                  </nav>
                
              </div> 
        </header>

        <div style="position: fixed;" id="sideNav" class="sideNav hiddenNavbar">
            <div class="sideHome">
                <ul>
                    <li><a onclick="viewHome()"><i class="fa-solid fa-house fa-lg"></i></a></li>
                    <li><a onclick="viewProjects()"><i class="fa-solid fa-diagram-project fa-lg"></i></a></li>
                    <li><a onclick="viewContact()"><i class="fa-solid fa-message fa-lg"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <section class="box-container">
                <div class="container-box">


                    <div id="my-title" class="container-title">    
                        <div class="line-1"> <h1 style="font-family: 'Lato', sans-serif;">Hi</h1> <!--<div class="emoji">&#128075;</div>--><h1>,</h1>&nbsp;<h1 style="font-family: 'Lato', sans-serif;">&nbsp;my name is </h1> &nbsp;</div> <h1 style="font-family: 'IBM Plex Sans', sans-serif; font-weight: bolder;" class="name"><br><svg id="myName" width="934" height="104" viewBox="0 0 934 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M885.795 100.5H887.295V99V57C887.295 53.1271 888.032 49.9318 889.432 47.3517C890.85 44.7384 892.758 42.7863 895.158 41.4487C897.609 40.1002 900.415 39.4091 903.614 39.4091C908.247 39.4091 911.725 40.8355 914.238 43.562L914.243 43.5674C916.761 46.2727 918.114 50.1364 918.114 55.3636V99V100.5H919.614H930.341H931.841V99V54.6364C931.841 48.5436 930.832 43.383 928.725 39.2316C926.63 35.0758 923.666 31.9307 919.829 29.8634C916.029 27.7859 911.639 26.7727 906.704 26.7727C901.235 26.7727 896.622 27.9038 892.978 30.2878C890.545 31.8587 888.527 33.7842 886.932 36.058V29.1818V27.6818H885.432H875.068H873.568V29.1818V99V100.5H875.068H885.795Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M809.662 97.221L809.666 97.2234C814.691 100.392 820.506 101.955 827.057 101.955C833.607 101.955 839.409 100.392 844.405 97.2214C849.412 94.0634 853.29 89.6494 856.039 84.0254C858.825 78.3883 860.193 71.8506 860.193 64.4545C860.193 56.9998 858.826 50.4177 856.041 44.7506C853.292 39.0957 849.414 34.6645 844.404 31.5051C839.408 28.3347 833.607 26.7727 827.057 26.7727C820.506 26.7727 814.691 28.3351 809.666 31.5039L809.662 31.5062C804.683 34.6658 800.807 39.0959 798.029 44.7473L798.029 44.7473L798.026 44.7534C795.272 50.4197 793.92 57.0008 793.92 64.4545C793.92 71.8496 795.273 78.3861 798.027 84.0223L798.03 84.0284C800.809 89.6496 804.685 94.0628 809.662 97.221ZM837.942 85.9617C835.17 88.1635 831.58 89.3182 827.057 89.3182C822.533 89.3182 818.944 88.1635 816.171 85.9617C813.312 83.6912 811.179 80.6974 809.781 76.9325C808.364 73.1146 807.648 68.9597 807.648 64.4545C807.648 59.9495 808.364 55.7781 809.782 51.9276C811.181 48.1306 813.317 45.1058 816.178 42.8054C818.951 40.5766 822.537 39.4091 827.057 39.4091C831.576 39.4091 835.163 40.5766 837.935 42.8054C840.797 45.1058 842.932 48.1306 844.331 51.9276C845.75 55.7781 846.466 59.9495 846.466 64.4545C846.466 68.9597 845.75 73.1146 844.332 76.9325C842.935 80.6974 840.801 83.6912 837.942 85.9617Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M781.681 46.2615L783.195 45.833L782.695 44.3412C780.938 39.103 777.95 34.8488 773.73 31.6274C769.444 28.3311 763.657 26.7727 756.546 26.7727C751.459 26.7727 746.852 27.6682 742.753 29.4934L742.749 29.4951C738.695 31.315 735.435 33.8468 733.022 37.1077L733.022 37.1077L733.016 37.1156C730.606 40.416 729.409 44.2142 729.409 48.4545C729.409 53.6087 731.009 57.9999 734.262 61.5183L734.267 61.5237L734.272 61.529C737.551 65.0062 742.564 67.4541 749.109 69.005L749.112 69.0059L760.749 71.7332L760.751 71.7337C764.126 72.5193 766.434 73.6719 767.858 75.0702L767.858 75.0702L767.868 75.0798C769.262 76.4245 769.955 78.0609 769.955 80.0909C769.955 82.5007 768.798 84.6626 766.122 86.6022C763.519 88.4805 759.892 89.5 755.091 89.5C750.905 89.5 747.67 88.6055 745.263 86.9488C742.914 85.3109 741.258 82.8272 740.362 79.3525L739.99 77.911L738.545 78.2721L728.364 80.8175L726.964 81.1675L727.259 82.5799C728.575 88.8699 731.738 93.7404 736.763 97.0688C741.734 100.361 747.937 101.955 755.273 101.955C760.863 101.955 765.836 101.017 770.155 99.098C774.449 97.1893 777.855 94.5498 780.305 91.1539C782.799 87.7396 784.046 83.8535 784.046 79.5455C784.046 74.3251 782.395 69.9447 779.023 66.5381C775.695 63.1454 770.748 60.7309 764.356 59.1791C764.355 59.179 764.354 59.1788 764.354 59.1787L754 56.6357C753.999 56.6354 753.998 56.6352 753.997 56.6349C749.958 55.6248 747.172 54.4023 745.48 53.0542C743.928 51.8171 743.136 50.1586 743.136 47.9091C743.136 45.4781 744.236 43.4408 746.714 41.7357L746.717 41.7338C749.261 39.9743 752.506 39.0455 756.546 39.0455C759.521 39.0455 761.831 39.5241 763.557 40.3871C765.38 41.299 766.761 42.4304 767.752 43.7599L767.762 43.7731L767.772 43.7862C768.872 45.1962 769.686 46.6261 770.233 48.075L770.719 49.3639L772.045 48.9888L781.681 46.2615Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M666.92 100.5H668.42V99V57C668.42 53.1341 669.17 49.9445 670.594 47.3677C672.066 44.7586 674.044 42.8022 676.537 41.4588C679.084 40.1031 681.988 39.4091 685.284 39.4091C690.023 39.4091 693.544 40.8292 696.05 43.5219L696.055 43.5276L696.06 43.5331C698.597 46.2034 699.966 50.0737 699.966 55.3636V99V100.5H701.466H712.193H713.693V99V54.6364C713.693 48.4851 712.67 43.2915 710.529 39.1367C708.432 34.9778 705.449 31.8462 701.577 29.8107C697.75 27.7686 693.334 26.7727 688.375 26.7727C682.71 26.7727 678.001 27.8818 674.376 30.2418C671.986 31.7916 669.999 33.7144 668.42 36.0005V5.90909V4.40909H666.92H656.193H654.693V5.90909V99V100.5H656.193H666.92Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M640.057 29.1818V27.6818H638.557H625.148V12.4545V10.9545H623.648H612.921H611.421V12.4545V27.6818H602.375H600.875V29.1818V38.2727V39.7727H602.375H611.421V81.9091C611.421 86.2026 612.416 89.8884 614.512 92.864L614.519 92.8732C616.576 95.7458 619.174 97.9051 622.302 99.3211L622.307 99.3235C625.399 100.708 628.577 101.409 631.83 101.409C633.886 101.409 635.656 101.255 637.107 100.919C638.433 100.641 639.528 100.351 640.356 100.041L641.581 99.5814L641.293 98.3051L639.111 88.6688L638.788 87.2423L637.354 87.5291L635.565 87.8868C634.918 87.988 634.044 88.0455 632.921 88.0455C631.508 88.0455 630.179 87.8298 628.923 87.4047C627.909 87.0252 627.013 86.283 626.255 85.0506C625.578 83.8738 625.148 81.9219 625.148 79V39.7727H638.557H640.057V38.2727V29.1818Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M576.318 99V100.5H577.818H588.546H590.046V99V29.1818V27.6818H588.546H577.818H576.318V29.1818V99ZM576.825 16.4916L576.831 16.4968L576.836 16.502C578.631 18.1894 580.802 19.0455 583.273 19.0455C585.741 19.0455 587.901 18.1903 589.669 16.4968C591.469 14.8027 592.409 12.7024 592.409 10.2727C592.409 7.84309 591.469 5.74273 589.669 4.04859C587.901 2.35512 585.741 1.5 583.273 1.5C580.802 1.5 578.631 2.3561 576.836 4.04342L576.831 4.0486L576.825 4.05384C575.055 5.7518 574.136 7.85101 574.136 10.2727C574.136 12.6944 575.055 14.7937 576.825 16.4916Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M465.068 99V100.5H466.568H477.295H478.795V99V55.3636C478.795 52.1583 479.474 49.4028 480.786 47.0519C482.155 44.6214 483.921 42.7546 486.082 41.4133C488.275 40.0714 490.609 39.4091 493.114 39.4091C496.848 39.4091 499.776 40.526 502.033 42.6768L502.04 42.6832C504.276 44.7879 505.432 47.5699 505.432 51.1818V99V100.5H506.932H517.841H519.341V99V53.5455C519.341 49.3526 520.582 46.0035 522.992 43.3777L522.997 43.3721C525.347 40.7839 528.707 39.4091 533.295 39.4091C536.801 39.4091 539.788 40.4166 542.324 42.4072C544.641 44.2262 545.977 47.3709 545.977 52.2727V99V100.5H547.477H558.205H559.705V99V52.2727C559.705 43.8512 557.671 37.3378 553.3 33.0655C549.016 28.8472 543.515 26.7727 536.932 26.7727C531.715 26.7727 527.15 27.8964 523.299 30.2125C520.108 32.1059 517.567 34.5676 515.698 37.5889C513.963 34.5159 511.702 32.0302 508.907 30.1657C505.544 27.8704 501.399 26.7727 496.568 26.7727C491.789 26.7727 487.602 27.8743 484.078 30.1458C481.781 31.6063 479.898 33.455 478.432 35.677V29.1818V27.6818H476.932H466.568H465.068V29.1818V99Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M435.817 29.3582L435.974 30.6818H437.307H448.216H449.765L449.715 29.1335C449.554 24.1375 448 19.6442 445.057 15.6973C442.162 11.774 438.255 8.71346 433.386 6.49967C428.493 4.24457 422.941 3.13636 416.761 3.13636C410.636 3.13636 405.043 4.26227 400.008 6.54177C395.004 8.79076 390.973 11.9795 387.958 16.1166L387.957 16.1183C384.936 20.276 383.443 25.1366 383.443 30.6364C383.443 37.2873 385.711 42.78 390.295 46.9707C394.753 51.0469 400.738 54.1244 408.165 56.2598L408.167 56.2605L419.622 59.5332L419.622 59.5332L419.633 59.5362C422.847 60.4291 425.828 61.4679 428.578 62.6507C431.231 63.7917 433.311 65.2491 434.868 66.9976C436.306 68.6118 437.08 70.7486 437.08 73.5455C437.08 76.6195 436.183 79.2578 434.402 81.5249C432.584 83.8096 430.094 85.6356 426.872 86.9765C423.656 88.285 419.99 88.9545 415.852 88.9545C412.308 88.9545 409.02 88.4324 405.979 87.4005C403.014 86.3544 400.597 84.7894 398.69 82.7193C396.881 80.693 395.807 78.1065 395.529 74.8712L395.41 73.5H394.034H382.398H380.787L380.902 75.1069C381.283 80.4517 382.929 85.1916 385.86 89.2828L385.865 89.2891C388.825 93.376 392.864 96.5341 397.926 98.7802L397.929 98.7816C403.04 101.035 409.028 102.136 415.852 102.136C423.165 102.136 429.474 100.913 434.726 98.3991C439.967 95.9045 444.016 92.5055 446.795 88.1767C449.594 83.8641 450.989 79.034 450.989 73.7273C450.989 69.1601 450.052 65.1975 448.095 61.9139C446.204 58.7401 443.788 56.1259 440.85 54.0903C438.025 52.0819 435.049 50.491 431.926 49.3232C428.922 48.1893 426.176 47.2936 423.692 46.6413C423.691 46.6409 423.689 46.6405 423.688 46.6401L414.242 44.097L414.234 44.0948C412.556 43.6534 410.705 43.0765 408.679 42.3615C406.718 41.6397 404.843 40.7311 403.053 39.6349C401.347 38.5606 399.958 37.2365 398.868 35.6607C397.878 34.1577 397.352 32.3236 397.352 30.0909C397.352 27.4305 398.105 25.0915 399.607 23.0237C401.155 20.9346 403.323 19.2558 406.176 18.0126C409.042 16.7769 412.437 16.1364 416.398 16.1364C421.805 16.1364 426.261 17.3552 429.847 19.7086C433.356 22.011 435.324 25.1923 435.817 29.3582Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M284.795 100.5H286.295V99V57C286.295 53.1271 287.032 49.9318 288.432 47.3517C289.85 44.7384 291.758 42.7863 294.158 41.4487C296.609 40.1002 299.415 39.4091 302.614 39.4091C307.248 39.4091 310.725 40.8355 313.238 43.562L313.243 43.5674C315.761 46.2727 317.114 50.1365 317.114 55.3636V99V100.5H318.614H329.341H330.841V99V54.6364C330.841 48.5436 329.832 43.383 327.725 39.2316C325.63 35.0758 322.666 31.9307 318.829 29.8634C315.029 27.7859 310.639 26.7727 305.705 26.7727C300.235 26.7727 295.622 27.9038 291.978 30.2878C289.545 31.8587 287.527 33.7843 285.932 36.058V29.1818V27.6818H284.432H274.068H272.568V29.1818V99V100.5H274.068H284.795Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M234.107 87.1985L234.112 87.1951C236.843 85.6469 238.846 83.6812 240.182 81.3094L240.188 81.298L240.188 81.298C241.579 78.8784 242.261 76.362 242.261 73.7273V66.4952C241.925 66.6189 241.565 66.7362 241.185 66.8481L241.175 66.8509L241.166 66.8535C239.586 67.2958 237.774 67.6852 235.735 68.025L235.726 68.0266L235.717 68.028C233.736 68.3328 231.799 68.6072 229.908 68.8513L229.897 68.8526L229.887 68.8539C228.042 69.0655 226.552 69.2463 225.412 69.3963L225.41 69.3965C222.71 69.7487 220.2 70.3191 217.877 71.1031L217.867 71.1067L217.867 71.1066C215.678 71.827 213.969 72.8983 212.682 74.2901L234.107 87.1985ZM234.107 87.1985C231.477 88.7049 228.174 89.5 224.125 89.5M234.107 87.1985L224.125 89.5M224.125 89.5C220.075 89.5 216.86 88.6116 214.38 86.9432C212.082 85.349 210.898 83.0226 210.898 79.7273C210.898 77.2713 211.547 75.5203 212.681 74.291L224.125 89.5ZM209.804 99.4936L209.814 99.498C213.639 101.266 217.872 102.136 222.489 102.136C226.69 102.136 230.344 101.51 233.399 100.196C236.351 98.9268 238.785 97.3581 240.65 95.4603C241.236 94.8637 241.774 94.2718 242.261 93.6845V99V100.5H243.761H254.489H255.989V99V53C255.989 47.3122 255.06 42.6086 253.075 39.0039C251.152 35.5092 248.69 32.8253 245.666 31.03C242.795 29.308 239.793 28.1643 236.666 27.615C233.696 27.0586 231.027 26.7727 228.67 26.7727C225.017 26.7727 221.313 27.2766 217.561 28.2768C213.75 29.2703 210.233 31.0317 207.02 33.5454C203.754 36.0931 201.189 39.6176 199.292 44.0455L198.663 45.5122L200.166 46.049L210.348 49.6853L211.637 50.1456L212.213 48.9044C213.267 46.6343 215.129 44.4181 217.904 42.2789C220.465 40.3051 224.116 39.2273 229.034 39.2273C233.742 39.2273 236.965 40.4106 239.006 42.5021L239.012 42.5087C241.117 44.6392 242.261 47.7018 242.261 51.9091V52.2727C242.261 53.5939 241.825 54.23 241.164 54.6009L241.157 54.6048L241.15 54.6087C240.214 55.1471 238.529 55.6205 235.918 55.9178C233.265 56.1924 229.814 56.6029 225.57 57.1486L225.567 57.149C222.28 57.5791 219.009 58.1626 215.753 58.8995C212.449 59.6239 209.408 60.7302 206.639 62.2257C203.778 63.7713 201.48 65.9192 199.765 68.6547C197.993 71.451 197.17 74.9981 197.17 79.1818C197.17 83.967 198.29 88.1458 200.601 91.6448L200.604 91.6502C202.883 95.0692 205.962 97.6854 209.804 99.4936Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M137.045 100.5H138.545V99V57C138.545 53.1341 139.295 49.9445 140.719 47.3677C142.191 44.7586 144.169 42.8022 146.662 41.4588C149.209 40.1031 152.113 39.4091 155.409 39.4091C160.148 39.4091 163.669 40.8292 166.175 43.5219L166.18 43.5276L166.185 43.5331C168.722 46.2034 170.091 50.0737 170.091 55.3636V99V100.5H171.591H182.318H183.818V99V54.6364C183.818 48.4851 182.795 43.2915 180.654 39.1367C178.557 34.9778 175.574 31.8462 171.702 29.8107C167.875 27.7686 163.459 26.7727 158.5 26.7727C152.835 26.7727 148.126 27.8818 144.502 30.2418C142.111 31.7916 140.124 33.7145 138.545 36.0005V5.90909V4.40909H137.045H126.318H124.818V5.90909V99V100.5H126.318H137.045Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M110.182 29.1818V27.6818H108.682H95.2727V12.4545V10.9545H93.7727H83.0455H81.5455V12.4545V27.6818H72.5H71V29.1818V38.2727V39.7727H72.5H81.5455V81.9091C81.5455 86.2026 82.541 89.8884 84.6374 92.864L84.644 92.8732C86.7005 95.7458 89.2985 97.9051 92.4269 99.3211L92.4323 99.3235C95.524 100.708 98.702 101.409 101.955 101.409C104.011 101.409 105.781 101.255 107.232 100.919C108.558 100.641 109.653 100.351 110.481 100.041L111.706 99.5814L111.418 98.3051L109.236 88.6688L108.913 87.2423L107.479 87.5291L105.69 87.8868C105.043 87.988 104.169 88.0455 103.045 88.0455C101.633 88.0455 100.304 87.8298 99.0479 87.4047C98.0337 87.0252 97.138 86.283 96.3798 85.0506C95.7032 83.8738 95.2727 81.9219 95.2727 79V39.7727H108.682H110.182V38.2727V29.1818Z" stroke="#0093E9" stroke-width="3"/>
                            <path d="M1.77274 99V100.5H3.27274H60.1818H61.6818V99V89V87.5H60.1818H16.0455V58.8636H56.5455H58.0455V57.3636V47.3636V45.8636H56.5455H16.0455V17.4091H59.4546H60.9546V15.9091V5.90909V4.40909H59.4546H3.27274H1.77274V5.90909V99Z" stroke="#0093E9" stroke-width="3"/>
                            </svg>
                            
                            
</h1>
                    </div>


                    <div class="git-linkedin">
                        <a class="git-link" target="_blank" href="https://github.com/EthanSmithson?tab=repositories"><i class="fa-brands fa-github fa-2xl"></i></a>
                        <a class="linkedin-link" target="_blank" href="https://www.linkedin.com/in/ethan-smithson-0434682aa/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                    </div>

                    <div class="front-buttons">
                        <button onclick="viewProjects()" class="projects-btn"><a><p style="color: #ffffff; font-family: 'Outfit', sans-serif;">Projects</p></a></button>
                        <button onclick="viewContact()" class="contact-btn"><a><p style="color: #ffffff; font-family: 'Outfit', sans-serif;">Contact Me</p></a></button>
                    </div>
                    

                </div>

          

            </section>

            <section class="tech">
                <div class="bar">
                    <div class="tech-stack">
                        <p style="font-family: 'Lato', sans-serif;">Tech Stack</p>
                        <ul>
                            <li class="hidden"><i class="fa-brands fa-html5 fa-2xl"></i></li>
                            <li class="hidden"><i class="fa-brands fa-js fa-2xl"></i></li>
                            <li class="hidden"><i class="fa-brands fa-css3-alt fa-2xl"></i></li>
                            <li class="hidden"><i class="fa-brands fa-python fa-2xl"></i></li>
                            <li class="hidden"><i class="fa-brands fa-java fa-2xl"></i></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section id="projects" class="projects-area">
                <!-- <div class="projects-title">
                    <p id="ProjectTitle" style="font-family: 'Lato', sans-serif;">PROJECTS</p>
                </div> -->

                <svg id="outer-ring" class="outer-ring" viewbox="0 0 1100 1100">
                    <polygon stroke="#2B86C5" style="stroke-width: 3px;" fill="none" points="161 550 , 23 403 , 29 177 , 191 49 , 585 26 , 714 164 , 763 321 , 718 512 , 534 549 , 207 547"></polygon>
                </svg>
                    
                    

                                <!-- Slider main container -->
                <div class="thumbTiles swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div id="swiper" class="swiper-slide">
                            <div id="myPro" class="project1 smallerPro">
                                <div id="title1" class="project1-title titleHidden"><img src="/images/WebsiteLogoBlue.png"></div>
                                <div id="projectButtons" class="projectButtons projectButtonsHide">
                                    <button style="font-family: 'Lato', sans-serif; letter-spacing: 1.5px;" class="sourceCode" id="sourceCode">Code</button>
                                    <button style="font-family: 'Lato', sans-serif; letter-spacing: 1.5px;" class="demo" id="demo">Demo</button>
                                </div>
                                <div id="snapshot1" class="project1-snapshot">
                                    <!-- <a href="#"><img id="PA1" src="/images/buzz-portfolio.png"></a> -->
                                </div>
                            </div>
                    </div>
                    <div id="swiper" class="swiper-slide">
                        <div id="myPro" class="project2 smallerPro">
                            <div id="title1" class="project1-title titleHidden"><img src="/images/WebsiteLogoBlue.png"></div>
                            <div id="projectButtons" class="projectButtons projectButtonsHide">
                                <button style="font-family: 'Lato', sans-serif; letter-spacing: 1.5px;" class="sourceCode" id="sourceCode">Code</button>
                                <button style="font-family: 'Lato', sans-serif; letter-spacing: 1.5px;" class="demo" id="demo">Demo</button>
                            </div>
                            <div id="snapshot2" class="project1-snapshot">
                                <!-- <a href="#"><img id="PA1" src="/images/buzz-portfolio.png"></a> -->
                            </div>
                        </div>
                    </div>
                    <div id="swiper" class="swiper-slide">
                        <div id="myPro" class="project3 smallerPro">
                            <div id="title1" class="project1-title titleHidden"><img src="/images/WebsiteLogoBlue.png"></div>
                            <div id="projectButtons" class="projectButtons projectButtonsHide">
                                <button style="font-family: 'Lato', sans-serif; letter-spacing: 1.5px;" class="sourceCode" id="sourceCode">Code</button>
                                <button style="font-family: 'Lato', sans-serif; letter-spacing: 1.5px;" class="demo" id="demo">Demo</button>
                            </div>
                            <div id="snapshot3" class="project1-snapshot">
                                <!-- <a href="#"><img id="PA1" src="/images/buzz-portfolio.png"></a> -->
                            </div>
                        </div>
                    </div>
                    <div id="swiper" class="swiper-slide">
                        <div id="myPro" class="project4 smallerPro">
                            <div id="title1" class="project1-title titleHidden"><img src="/images/WebsiteLogoBlue.png"></div>
                            <div id="projectButtons" class="projectButtons projectButtonsHide">
                                <button style="font-family: 'Lato', sans-serif; letter-spacing: 1.5px;" class="sourceCode" id="sourceCode">Code</button>
                                <button style="font-family: 'Lato', sans-serif; letter-spacing: 1.5px;" class="demo" id="demo">Demo</button>
                            </div>
                            <div id="snapshot3" class="project1-snapshot">
                                <!-- <a href="#"><img id="PA1" src="/images/buzz-portfolio.png"></a> -->
                            </div>
                        </div>
                    </div>
                    </div>
                
                    <!-- If we need navigation buttons -->
                    <div id="prev" class="swiper-button-prev"></div>
                    <div id="next" class="swiper-button-next"></div>
                
                </div>

            </section>

            <div id="test">

            </div>


            <!-- <section class="contact"> -->
                <!-- <div class="contact-title">
                    <h1>Contact Me</h1>
                </div> -->
                    <!-- <h1 id="bubble-title" class="bubble-title">Contact Me!</h1> -->
                <div id="bubble" class="bubble">
                    <div id="contact" class="contact-me">
                                <div class="first-last">
                                    <div class="first-name">
                                        <input name="firstName" id="firstName" placeholder="First Name"/>
                                    </div>
                                    <div class="last-name">
                                        <input name="lastName" id="lastName" placeholder="Last Name"/>
                                    </div>
                                </div>
                                <div class="user-email">
                                    <input name="userEmail" id="userEmail" type="text" placeholder="Email"/>
                                </div>
                                <div class="compose-message">
                                    <textarea name="message" id="message" placeholder="Compose Message"></textarea>
                                </div>
                                <div class="submit-message">
                                    <button type="submit" onclick="emailNotis()" class="submit-btn">Submit!</button>
                                </div>
                    </div>
                </div>

            <!-- </section> -->

            
        </div>


    </body>
</html>

<script>
    function viewProjects() {
        document.getElementById('projects').scrollIntoView({behavior: "smooth"});
    }

    function viewHome() {
        document.getElementById('navBar').scrollIntoView({behavior: "smooth"});
    }

    function viewContact() {
        document.getElementById('contact').scrollIntoView({behavior: "smooth"});
    }

    const notiDiv = document.getElementById('test');
    const bubble = document.getElementById('bubble');
    const test = document.getElementById('contact');

    function emailNotis() {
        const fname = document.getElementById('firstName').value;
        const lname = document.getElementById('lastName').value;
        const email = document.getElementById('userEmail').value;
        const message = document.getElementById('message').value;
        const xhr = new XMLHttpRequest();
      // const postID = document.getElementById('postID');
      // const numOfLikes = document.getElementById('numberLikes');

      xhr.open('GET', `http://localhost:3000/sendEmail?fname=` + fname + `&lname=` + lname + `&email=` + email + `&message=` + message, true);

      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4 && xhr.status === 200) {
            console.log('working');

            const fname = document.getElementById('firstName');
            const lname = document.getElementById('lastName');
            const email = document.getElementById('userEmail');
            const message = document.getElementById('message');

            notiDiv.innerHTML = xhr.responseText;
            bubble.classList.add('blur-bg');
            fname.value = '';
            lname.value = '';
            email.value = '';
            message.value = '';

            setTimeout(function() {removeNoti(); }, 3500);
                    function removeNoti() {
                        notiDiv.innerHTML = '';
                        bubble.classList.remove('blur-bg');
                    }

        }
      }
      xhr.send();
    }
</script>

<script src="app.js"></script>